.venv/
.pytest_cache/
__pycache__/
*.py[cod]
outputs/
.DS_Store
build/
profiles/*.csv
profiles/*.log
profiles/*.qdrep
profiles/*.sqlite
profiles/ncu/
simulators/*_pim_simulation.csv
!simulators/sample_pim_simulation.csv
simulators/pim-results/
